.wrapper {
	width: 700px;
	margin: 0 auto;
	margin-top: 5px;
	border: 3px solid #d3d3d3;
	background-color: #f8f8f8;
	border-radius: 2%;
}

form {
	padding: 10px 100px 10px 100px;
}

h1 {
	text-align: center;
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 5px;
}

#totalDetails {
	display: none;
}

.detailsBtnTab {
	display:flex;
	justify-content:flex-end
}

.wrapper-nav {
	width: 85%;
	margin: 0 auto;
}

.progress {
	margin: 0 auto;
	width: 70%;
}

.btn-nxt {
	text-align: center;
}

.btn-nxt button {
	margin: 5px;
	width: 72px;
}

.wrapper-div {
	width: 85%;
	margin: 0 auto;
	margin-top: 15px;
}

style {
	height: auto !important;
}

.btn {
	padding: .2rem .45rem !important;
	font-size: 14px;
}
.danger-error {
	border: 1px solid red !important;
}

.form-group {
	margin-bottom: 0.5rem !important;
}

.form-control {
	font-size: 14px;
	padding: .25rem .75rem !important;
}

label {
	padding: 0 85px 0 60px;
	font-size: 14px;
}

.req {
	color: red;
}

#map {
	height: 100%;
}

.err {
	display: none;
	color: red;
}

#loc {
	background-color: #e9ecef;
}

.btnArea {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #b1b1b1;
    overflow: hidden;
}

th {
	font-size: 16px;
}

.table td, .table th {
	padding: 0.5rem;
}

td {
	font-size: 14px;
}

td a {
	font-size: 14px;
}

.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fde16d;
}
.empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 14pt;
}
.empty-stars:before {
    -webkit-text-stroke: 1px #848484;
}
.full-stars:before {
    -webkit-text-stroke: 1px orange;
}
 @-moz-document url-prefix() {
    .full-stars {
        color: #ECBE24;
    }
}

@media only screen and (max-width: 700px) {
	form {
		padding: 20px 50px 20px 30px;
	}
	#resArea, #placeDetails {
		width: 100%;
	}
    .wrapper {
    	width: 90%;
    	margin: 15px;
    }
    .wrapper-div {
    	width: 90%;
    	margin: 15px;
    }
    label {
		padding-left: 0 !important;
	}
}